*.d.ts
*.js
node_modules
cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
tsconfig.tsbuildinfo
!jest.config.js
!setup.js
/zitadel-values.yaml
/traefik-values.yaml
/postgres-values.yaml
/debug-fullsynth.json
